<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microcharts" version="0.8.3-pre" targetFramework="xamarinios10" />
  <package id="Microcharts.Forms" version="0.8.3-pre" targetFramework="xamarinios10" />
  <package id="Plugin.Multilingual" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.SQLite" version="1.0.4" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="xamarinios10" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="xamarinios10" />
  <package id="Xam.FormsPlugin.CrossPieChart" version="2.1.15" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.91635" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="xamarinios10" />
</packages>